.custom-card {
  width: 95%;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  /* background-color: #ccccff; */
  color: black;
  margin: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 2px;
  border-color: black;
}

.card-header,
.card-text {
  font-size: 18px;
}

.card-text {
  margin-bottom: 10px;
}

.card-body {
  margin-left: 20px;
  margin-right: 20px;
}
